{{define "T"}}
<html>
 
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>{{.Name}}</h1>
    <h2>{{.Race}} {{.Class}}</h2>

    <div>
        {{range .Slots}}
        <div>
            <h3>{{.Slot}}</h3>
            <div class="gearslot">
                <div class="header">
                    <span class="col-tier"></span>
                    <span class="col-icon"></span>
                    <span class="col-name">Name</span>
                    <span class="col-ilvl">ilvl</span>
                    <span class="col-primary">Primary</span>
                    <span class="col-primary">Stamina</span>
                    <span class="col-socket">Sockets</span>
                    <span class="col-secondary">Crit</span>
                    <span class="col-secondary">Vers</span>
                    <span class="col-secondary">Haste</span>
                    <span class="col-secondary">Mast</span>
                    <span class="col-tertiary">Speed</span>
                    <span class="col-tertiary">Leech</span>
                    <span class="col-tertiary">Avoid</span>
                </div> 
                {{range .Items }}
                <div class="item quality-{{if eq "" .Quality}}legiondary{{else}}{{.Quality}}{{end}} {{if .Equipped}}item-equipped{{else}}item-unequipped{{end}}">
                    <span class="col-tier">{{.TierBonus}}</span>
                    <span class="col-icon">
                        <img src="http://wow.zamimg.com/images/wow/icons/large/{{.Icon}}.jpg" class="icon" />
                    </span>
                    <span class="col-name">{{.Name}}</span> 
                    <span class="col-ilvl">{{.Level}}</span>
                    <span class="col-primary">{{.GetStat "primary"}}{{.GetStat "agi"}}{{.GetStat "agistr"}}</span>
                    <span class="col-primary">{{.GetStat "stam"}}</span>
                    <span class="col-socket">{{.SocketCount}}</span>
                    <span class="col-secondary">{{.GetStat "crit"}}</span>
                    <span class="col-secondary">{{.GetStat "vers"}}</span>
                    <span class="col-secondary">{{.GetStat "haste"}}</span>
                    <span class="col-secondary">{{.GetStat "mast"}}</span>
                    <span class="col-tertiary">{{.GetStat "speed"}}</span>
                    <span class="col-tertiary">{{.GetStat "leech"}}</span>
                    <span class="col-tertiary">{{.GetStat "avoid"}}</span>
                </div> {{end}}
            </div>
        </div>
        {{end}}
</body>

</html>
{{end}}